// Grayscale Colors
$transparent: rgba(255,255,255,0.0);
$white: #ffffff;
$light-gray-1: #fafbfc;
$light-gray-2: #f2f4f5;
$medium-gray-1: #e4e4e4;
$medium-gray-2: #cccccc;
$medium-gray-3: #abaab2;
$dark-gray-1: #979899;
$dark-gray-2: #555555;
$translucent-black-1: rgba(0, 0, 0, .5);
$black: #000000;

// Primary Brand Colors
$light-green: #adcc66;
$brand-green: #8fbf21;
$medium-green: #7ea81d;
$dark-green-1: #638601;
$dark-green-2: #4e6b0b;
$dark-green-3: #273803;

// Secondary Brand Colors
$light-purple-1: #eeedf2;
$light-purple-2: #d9d9e9;
$light-blue-1: #c5c8d7;
$medium-blue-1: #8489a3;
$dark-purple-1: #302c3c;
$dark-purple-2: #1B1821;


// UI Status Colors
$light-red: #f0717f;
$light-yellow: #ffc42e;

// Shadows
$dark-box-shadow: -2px 2px 8px -3px rgba(0, 0, 0, .3);