$grid-xxxxs: 'all and (max-width: 375px)';
$grid-xxxs: 'all and (max-width: 575px)';
$grid-xxs: 'all and (max-width: 576px)';
$grid-xs: 'all and (max-width: 767px)';
$grid-sm: 'all and (min-width: 768px) and (max-width: 991px)';
$grid-md: 'all and (min-width: 992px) and (max-width: 1199px)';
$grid-lg: 'all and (min-width: 1200px)';