@import '../../assets/scss-variables/compiled-variables.scss';

.homeowners-container {
    @include main-container($dark-green-3);
}

.shield {
    width: 85px;
    height: 95px;

    @media #{$grid-xxs, $grid-xs, $grid-sm} {
        display: none;
    }

    @media #{$grid-xxs, $grid-xs} {
        margin: 0 0 16px 0;
    }
}

.hero-text {
    @include h2-jumbo($white);
    line-height: 1;
    letter-spacing: 0.4px;
    font-weight: 900;
    margin: 0 0 24px 24px;

    @media #{$grid-md} {
        font-size: 38px;
    }

    @media #{$grid-sm} {
        font-size: 32px;
    }
    @media #{$grid-xxs, $grid-xs} {
        font-size: 24px;
        margin: 0 0 24px 0;
    }

    .first-line {
        color: $dark-green-2;
    }
    .second-line {
        color: $brand-green;
    }

    span {
        display: block;

        @media #{$grid-xxs, $grid-xs} {
            display: inline;
        }
    }
}

.address-input {
    @include p-body-1($black);
    font-style: italic;
    font-weight: 300;
    width: 100%;
    height: 56px;
    border-radius: 30px;
    border: none;
    padding: 0 0 0 24px;
    margin: 0 0 0 24px;

    &::placeholder {
        color: $dark-gray-1;
    }

    &:focus {
        box-shadow: 0 0 4px 2px $dark-green-1;
    }

    &:active {
        color: $black;
        font-style: regular;
    }

    @media #{$grid-xxs, $grid-xs} {
        margin: 0;
    }
}

.get-quote {
    @include primary-button-text($white);
    font-size: 16px;
    letter-spacing: 4px;
    background-color: $brand-green;
    width: auto;
    padding: 11px 30px;
    height: 56px;
    border-radius: 30px;
    border: none;
    margin: 0 0 0 24px;
    @include hover-transition;

    &:hover {
        background-color: $white;
        color: $black;
    }

    @media #{$grid-sm} {
        margin: 24px 0 0 24px;
    }

    @media #{$grid-xxs, $grid-xs} {
        margin: 24px 0 0 0;
    }
}