@import '../../assets/scss-variables/compiled-variables.scss';

// Base Navigation Styles
.navbar-container {
    background-color: $black;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;

    @media #{$grid-xxs, $grid-xs} {
        padding: 8px 12px;
    }

    @media #{$grid-xxs, $grid-xs} {
        flex-flow: row wrap;
    }
}

.navigation-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: flex-end;
    margin-left: 16px;
}

.logged-in-items {
    display: flex;
    align-items: center;
    list-style: none;

    .addresses {
        @media #{$grid-xxs, $grid-xs, $grid-sm} {
            display: none;
        }
    }
}

.login-button {
    @include primary-button($white, $transparent, $white);
    margin-right: 24px;
    min-width: 108px;

    &:hover {
        @include primary-button($dark-green-1, $white, $white);
    }
}

.hamburger {
    cursor: pointer;
    margin: 4px 0 0 0;

    & .line {

        height: 1.4px;
        background-color: $white;
        border-radius: 30px;
        margin: 0 0 4px 0;
        width: 24px;
    }
}

.user-info {
    position: absolute;
    top: 58px;
    right: 42px;
    border-radius: 4px;
    padding: 16px 24px;
    background-color: $light-gray-2;
    box-shadow: $dark-box-shadow;
    text-align: center;
}

.arrow-up {
    width: 0; 
    height: 0; 
    position: absolute;
    top: -10px;
    right: 16px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $light-gray-2;
  }

.logged-in-status {
    @include p-body-2($dark-gray-2);
    text-align: center;
    margin: 0 0 12px 0;
}

.log-out-button {
    @include primary-button($dark-purple-2, $transparent, $transparent);

    &:hover {
        @include primary-button($brand-green, $transparent, $brand-green);
    }
}

.user-email {
    font-size: 16px;
    color: $brand-green;
}

.display-none {
    visibility: hidden;
    opacity: 0;
    @include transition(all, 300ms, ease, 5ms);
}

.display {
    visibility: visible;
    opacity: 1;
    @include transition(all, 300ms, ease, 5ms);
}

.product-detail {
    @include h3-body($white);
    letter-spacing: 0.5px;
    padding: 0 24px 0 0;
    white-space: nowrap;

    @media #{$grid-xxs, $grid-xs} {
        padding: 0 0 8px 0;
        text-align: left;
        white-space: unset;
    }
}

.available-in {
    @include p-body-3($medium-gray-2);
    display: block;
    line-height: 1;
    margin: 1px 0 0 0;

    @media #{$grid-xxs, $grid-xs} {
        margin: 0 0 8px 0;
    }
}

.states {
    @include p-body-1($white);
    letter-spacing: 0.5px;
    border-left: 1px solid $brand-green;
    padding: 0 0 0 24px;

    @media #{$grid-xxs, $grid-xs} {
        padding: 12px 0;
        border-left: none;
        border-top: 1px solid $brand-green;
        width: 100%;
    }
}

.state-svg {
    height: 18px;
    width: 18px;
    margin: 0 4px 0 0;
}

.state-instance {
    display: inline-flex;
    align-items: center;
    margin: 0 12px 0 0;
}

.homeowners-states, .es-commercial-states, .admitted-commercial-states {
    opacity: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 6px 16px;
    left: 0;
    background-color: rgba(0,0,0,.75);
    @include transition(all, 300ms, ease, 5ms);

    @media #{$grid-xs} {
        flex-flow: column;
        text-align: left;
        align-items: flex-start;
        margin: 8px 0 0 0;
        padding: 12px 16px;
    }
}

.homeowners {
    &:hover .homeowners-states {
        opacity: 1;
        visibility: visible;
    }
}

.escommercial {
   &:hover .es-commercial-states {
       opacity: 1;
       visibility: visible;
   }
}

.admittedcommercial {
    &:hover .admitted-commercial-states {
        opacity: 1;
        visibility: visible;
    }
}

// Standard Product Navigation
.standard-nav {
    background-color: $dark-purple-2;

    .product-link {
        @include p-body-1($medium-gray-3);
        @include hover-transition;
        line-height: 1;
        font-weight: 700;
        list-style: none;
        margin: 0 0 0 24px;
        cursor: pointer;

        @media #{$grid-xxs, $grid-xs} {
            text-align: center;
            margin: 0;
        }

        @media #{$grid-xxs} {
            font-size: 14px;
        }

        @media #{$grid-xxs} {
            margin: 0 8px;
        }

        &:hover {
            color: $white;
        }

        &:active {
            color: $white;
        }
    }

    .user-icon {
        @include user-icon-button($white, $transparent, $brand-green);
        margin-right: 16px;

        &:hover {
            @include user-icon-button($white, $brand-green, $brand-green);
        }
    }

    .logged-in-items {
        & li {
            @include p-body-1($white);
            @include hover-transition;
            margin-right: 16px;
    
            &:hover {
                color: $medium-gray-3;
                cursor: pointer;
            }
        }
    }
}

// Homeowners Product Navigation
.homeowners-nav {
    background-color: $dark-green-3;

    .product-link {
        @include p-body-1($medium-gray-3);
        @include hover-transition;
        line-height: 1;
        font-weight: 700;
        list-style: none;
        margin: 0 0 0 24px;
        cursor: pointer;

        @media #{$grid-xxs, $grid-xs} {
            text-align: center;
            margin: 0;
        }

        @media #{$grid-xxs} {
            font-size: 14px;
        }

        @media #{$grid-xxs} {
            margin: 0 8px;
        }

        &:hover {
            color: $white;
        }

        &:active {
            color: $white;
        }
    }

    .user-icon {
        @include user-icon-button($white, $transparent, $brand-green);
        margin-right: 16px;

        &:hover {
            @include user-icon-button($white, $brand-green, $brand-green);
        }
    }

    .logged-in-items {
        & li {
            @include p-body-1($white);
            @include hover-transition;
            margin-right: 16px;
    
            &:hover {
                color: $medium-gray-3;
                cursor: pointer;
            }
        }
    }
}

// Commercial Product Navigation
.commercial-nav {
    background-color: $brand-green;

    .product-link {
        @include p-body-1($dark-green-1);
        @include hover-transition;
        line-height: 1;
        font-weight: 700;
        list-style: none;
        margin: 0 0 0 24px;
        cursor: pointer;

        @media #{$grid-xxs} {
            font-size: 14px;
            text-align: center;
            margin: 0;
        }

        @media #{$grid-xxs} {
            margin: 0 8px;
        }

        &:hover {
            color: $white;
        }

        &:active {
            color: $white;
        }
    }

    .user-icon {
        @include user-icon-button($white, $transparent, $white);
        margin-right: 16px;

        &:hover {
            @include user-icon-button($dark-green-1, $white, $white);
        }
    }

    .logged-in-items {
        & li {
            @include p-body-1($white);
            @include hover-transition;
            margin-right: 16px;
    
            &:hover {
                color: $dark-green-1;
                cursor: pointer;
            }
        }
    }
}


// Product Selection
.product-select {
    margin: 0 auto 0 0;

    & .button {
        padding: 0;
    }

    & .selected {
        color: $white;
    }

    @media #{$grid-xxs, $grid-xs} {
        order: 1;
        padding: 14px 0 0 0;
        width: 100%;
        margin: 0;
    }
}

// The Desktop Product Select List
.product-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}