@import '../../assets/scss-variables/compiled-variables.scss';

// Base Navigation Styles
.navbar-container {
    background-color: $black;
    padding: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;

    @media #{$grid-xxs, $grid-xs} {
        padding: 8px 12px;
    }

    @media #{$grid-xxs, $grid-xs} {
        flex-flow: row wrap;
    }
}

.navigation-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: flex-end;
    margin-left: 16px;
}

.logged-in-items {
    display: flex;
    align-items: center;
    list-style: none;

    & li {
        @include p-body-1($white);
        @include hover-transition;
        margin-right: 16px;

        &:hover {
            color: $medium-gray-2;
            cursor: pointer;
        }
    }

    .addresses {
        @media #{$grid-xxs, $grid-xs, $grid-sm} {
            display: none;
        }
    }
}

.login-button {
    @include primary-button($white, $transparent, $white);
    margin-right: 24px;
    min-width: 108px;

    &:hover {
        @include primary-button($dark-green-1, $white, $white);
    }
}

.hamburger {
    cursor: pointer;

    & .line {
        height: 1.4px;
        background-color: $white;
        border-radius: 30px;
        margin: 4px 0;
        width: 24px;
    }
}

.user-info {
    @include hover-transition;
    position: absolute;
    top: 8%;
    right: 4%;
    background-color: #f2f4f5;
    padding: 12px 24px;
    border-radius: 4px;
}

.display-none {
    display: none;
}

.display {
    display: block;
}

// Homeowners Product Navigation
.homeowners-nav {
    background-color: $dark-green-3;

    .product-link {
        @include p-body-1($medium-gray-3);
        @include hover-transition;
        line-height: 1;
        font-weight: 700;
        list-style: none;
        margin: 0 0 2px 24px;
        cursor: pointer;

        @media #{$grid-xxs} {
            text-align: center;
        }

        @media #{$grid-sm} {
            margin: 0 0 2px 16px;
            font-size: 15px;
        }

        &:hover {
            color: $white;
        }

        &:active {
            color: $white;
        }
    }

    .user-icon {
        @include user-icon-button($white, $transparent, $brand-green);
        margin-right: 16px;

        &:hover {
            @include user-icon-button($white, $brand-green, $brand-green);
        }
    }
}

// Commercial Product Navigation
.commercial-nav {
    background-color: $brand-green;

    .product-link {
        @include p-body-1($dark-green-2);
        @include hover-transition;
        line-height: 1;
        font-weight: 700;
        list-style: none;
        margin: 0 0 2px 24px;
        cursor: pointer;

        @media #{$grid-xxs} {
            text-align: center;
        }

        @media #{$grid-sm} {
            margin: 0 0 2px 16px;
            font-size: 15px;
        }

        &:hover {
            color: $white;
        }

        &:active {
            color: $white;
        }
    }

    .user-icon {
        @include user-icon-button($white, $transparent, $white);
        margin-right: 16px;

        &:hover {
            @include user-icon-button($dark-green-1, $white, $white);
        }
    }
}


// Product Selection
.product-select {
    margin: 0 auto 0 0;

    & .button {
        padding: 0;
    }

    @media #{$grid-xs} {
        margin: 0 auto 0 16px;
    }

    @media #{$grid-xxs} {
        order: 1;
        padding: 16px 0 0 0;
        width: 100%;
        margin: 0;
    }
}

// Styles the States in the Select Links Smaller
.states {
    font-size: 14px;
    font-weight: 400;
}

// The Mobile Product Select Menu
.mobile-product-list {
    @media #{$grid-sm, $grid-md, $grid-lg} {
        display: none;
    }

    @media #{$grid-xxs, $grid-xs} {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        @media #{$grid-xxs} {
            width: 100%;
        }
    }

    .MuiListItem-button {
        @media #{$grid-xxs, $grid-xs} {
            display: flex;
            justify-content: center;
        }
    }

    .MuiListItemText-root {
        @media #{$grid-xxs, $grid-xs} {
            flex: unset;
        }
    }

    .MuiListItem-gutters {
        @media #{$grid-xxs, $grid-xs} {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.mobile-menu-chevron {
    margin-left: 8px;

    @media #{$grid-xxs} {
        flex-basis: 10%;
    }
}

// The Desktop Product Select List
.desktop-product-list {
    @media #{$grid-sm, $grid-md, $grid-lg} {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    @media #{$grid-xxs, $grid-xs} {
        display: none;
    }

    .MuiListItem-root {
        width: unset;

        @media #{$grid-xxs, $grid-xs} {
            width: 100%;
        }
    }

    .MuiList-padding {
        padding: 0 !important;
    }

    .MuiListItem-gutters {
        padding: 0;
    }

    .MuiListItemText-root {
        margin: 0 !important;
    }

    .MuiListItem-root.Mui-selected,
    .MuiListItem-root.Mui-selected:hover {
        background-color: $transparent !important;
        color: $white;
    }
}

// Reset Material UI Styles used in Product Selector
.MuiMenu-paper {
    border-radius: 0px !important;
}

.MuiList-padding {
    padding: 0 !important;
}

.MuiListItem-gutters {
    padding: 0;
}

.MuiPaper-root {
    color: $dark-gray-2 !important;
    background-color: $light-gray-2 !important;
}

.MuiListItemText-root {
    margin: 0 !important;

    @media #{$grid-xxs} {
        flex-basis: 50%;
    }
}

.MuiTypography-body1 {
    font-family: 'Lato', sans-serif !important;
    color: $white;
    line-height: 1 !important;
    letter-spacing: 0.3px !important;
    font-weight: 700 !important;
}

.MuiMenuItem-root {
    font-family: 'Lato', sans-serif !important;
    font-size: 16px !important;
    line-height: 1 !important;
    letter-spacing: 0.3px !important;
    font-weight: 700 !important;
    color: $dark-gray-2;
}

.MuiListItem-root.Mui-selected,
.MuiListItem-root.Mui-selected:hover {
    background-color: rgba(0, 0, 0, 0.06) !important;
}

.MuiListItem-button:hover {
    background-color: rgba(0, 0, 0, 0.06) !important;
    color: $black !important;
}

.MuiPaper-elevation8 {
    box-shadow: unset !important;
}