@import '../../assets/scss-variables/compiled-variables.scss';

// Base Navigation Styles
.navbar-container {
    background-color: $black;
    padding: 0;
    position: fixed;
    z-index: 10;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;

    @media #{$grid-xxs, $grid-xs} {
        padding: 12px 12px;
    }

    @media #{$grid-xxs, $grid-xs} {
        flex-flow: row wrap;
    }
}

.navigation-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: flex-end;
    margin-left: 16px;
}

.logged-in-items {
    display: flex;
    align-items: center;
    list-style: none;

    .addresses {
        @media #{$grid-xxs, $grid-xs, $grid-sm} {
            display: none;
        }
    }
}

.login-button {
    @include primary-button($white, $transparent, $white);
    margin-right: 24px;
    min-width: 108px;

    &:hover {
        @include primary-button($dark-green-1, $white, $white);
    }
}

.logout-button {
    @include primary-button($white, $transparent, $white);
    min-width: 108px;

    &:hover {
        @include primary-button($dark-green-1, $white, $white);
    }
}

.user-info {
    position: absolute;
    z-index: 1;
    top: 58px;
    right: 42px;
    border-radius: 4px;
    padding: 16px 24px;
    background-color: $light-gray-2;
    box-shadow: $dark-box-shadow;
    text-align: center;
}

.arrow-up {
    width: 0; 
    height: 0; 
    position: absolute;
    top: -10px;
    right: 16px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid $light-gray-2;
  }

.logged-in-status {
    @include p-body-2($dark-gray-2);
    text-align: center;
    margin: 0 0 12px 0;
}

.user-info-logout-button {
    @include primary-button($dark-gray-2, $transparent, $dark-gray-2);

    &:hover {
        @include primary-button($white, $brand-green, $brand-green);
    }
}

.new-quote-button {
    @include secondary-button($white, $brand-green, $brand-green);
    margin: 0 16px 0 0;
    padding: 6px 16px;
    white-space: nowrap;

    &:hover {
        @include secondary-button($white, $light-green, $light-green);
        padding: 6px 16px;
    }

    @media #{$grid-xs, $grid-sm} {
        display: none;
        }
    }

    .new-quote-button-hamburger {
        @include secondary-button($white, $brand-green, $brand-green);
        margin: 0 0 16px 0;
        padding: 6px 16px;
    
        &:hover {
            @include secondary-button($white, $light-green, $light-green);
            padding: 6px 16px;
        }
    }

.user-email {
    font-size: 16px;
    color: $brand-green;
}

.click-outside {
    position: absolute;
    width: 28%;
    height: 80px;
    top: 34%;
    right: 0;

    @media #{$grid-xxs} {
        width: 21%;
    }
}

.product-detail {
    @include p-body-2($light-gray-1);
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 0 16px 0 0;
    white-space: nowrap;
    display: flex;
    align-items: center;

    @media #{$grid-xxs, $grid-xs} {
        padding: 0 0 8px 0;
        text-align: left;
        white-space: unset;
    }
}

.states {
    @include p-body-2($white);
    letter-spacing: 0.5px;
    border-left: 0.5px solid $white;
    padding: 0 0 0 16px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    white-space: nowrap;

    @media #{$grid-xxs, $grid-xs} {
        padding: 8px 0 0 0;
        border-left: none;
        border-top: 0.5px solid $white;
        width: 100%;
    }
}

.state-svg {
    height: 18px;
    width: 18px;
    margin: 0 8px 0 4px;
}

.state-instance {
    display: inline-flex;
    align-items: center;
    padding: 4px;
}

.states-container {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    background-color: $translucent-dark-purple;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row;
    position: absolute;
    z-index: 1;
    padding: 10px 16px 10px 108px;
    box-shadow: $dark-box-shadow;
    @include transition(all, 300ms, ease, 100ms);

    @media #{$grid-xs} {
        padding: 10px 12px;
    }

    @media #{$grid-xxs, $grid-xs} {
        flex-flow: column;
        text-align: left;
        align-items: flex-start;
        padding: 10px 12px;
    }

    .states-container-location-icon {
        height: 20px;
        display: inline-block;
        margin: 0 8px 0 0;

        & g {
            fill: $brand-green;
        }
    }

    .close-states-button {
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 32px;

        .close-line {
            height: 2px;
            background-color: $white;
            border-radius: 30px;
            margin: 0 0 4px 0;
            width: 16px;
            position: fixed;
        }

        .close-line:first-child {
            transform: rotate(45deg);
        }

        .close-line:nth-child(2) {
            transform: rotate(-45deg);
        }
    }
}

.show-states {
    opacity: 1;
    visibility: visible;
}

// Standard Product Navigation
.standard-nav {
    background-color: $dark-purple-2;
    box-shadow: $dark-box-shadow;

    .product-link {
        @media #{$grid-xxs} {
            margin: 0 0 4px 0 ;
        }
    }

    .product-link a {
        @include p-body-1($medium-gray-3);
        @include hover-transition;
        line-height: 1;
        font-weight: 700;
        list-style: none;
        margin: 0 24px 0 0;
        cursor: pointer;
        text-decoration: none;
        white-space: nowrap;

        &:first-child {
            margin: 0 0 0 24px;
        }

        @media #{$grid-xxs, $grid-xs} {
            margin: 0;

            &:first-child {
                margin: 0;
            }
        }

        @media #{$grid-xxs} {
            font-size: 18px;
            line-height: 1.3;
        }

        &:hover {
            color: $white;
        }

        &:active {
            color: $white;
        }
    }

    .mobile-product-instance {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .product-location-icon {
            cursor: pointer;
            margin: 0 0 0 12px;
            height: 18px;
            @include transition(transform, 200ms, ease, 10ms);
            @include transition(margin, 200ms, ease-out, 10ms);

            & g {
                fill: $dark-gray-1;
            }
        }

        .product-location-icon-active {
            margin: 0 0 0 8px;
            height: 18px;
            transform: rotate(90deg);
            @include transition(transform, 200ms, ease, 10ms);
            @include transition(margin, 200ms, ease-in, 10ms);

            & g {
                fill: $white;
            }
        }
    }

    .user-icon {
        @include user-icon-button($white, $transparent, $brand-green);
        margin-right: 16px;

        &:hover {
            @include user-icon-button($white, $brand-green, $brand-green);
        }
    }

    .logged-in-items {
        & li {
            @include p-body-1($white);
            @include hover-transition;
            margin-right: 16px;
    
            &:hover {
                color: $medium-gray-3;
                cursor: pointer;
            }
        }
    }
}

// Homeowners Product Navigation
.homeowners-nav {
    background-color: $dark-green-3;
    
    @media #{$grid-xs} {
        box-shadow: $dark-box-shadow;
    }

    .product-link {
        @media #{$grid-xxs} {
            margin: 0 0 4px 0 ;
        }
    }

    .product-link a {
        @include p-body-1($medium-gray-3);
        @include hover-transition;
        line-height: 1;
        font-weight: 700;
        list-style: none;
        margin: 0 24px 0 0;
        cursor: pointer;
        text-decoration: none;
        white-space: nowrap;

        &:first-child {
            margin: 0 0 0 24px;
        }

        @media #{$grid-xxs, $grid-xs} {
            margin: 0;
            &:first-child {
                margin: 0;
            }
        }

        @media #{$grid-xxs} {
            font-size: 18px;
            line-height: 1.3;
        }

        &:hover {
            color: $white;
        }

        &:active {
            color: $white;
        }
    }

    .user-icon {
        @include user-icon-button($white, $transparent, $brand-green);
        margin-right: 16px;

        &:hover {
            @include user-icon-button($white, $brand-green, $brand-green);
        }
    }

    .mobile-product-instance {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .product-location-icon {
            cursor: pointer;
            margin: 0 0 0 12px;
            height: 18px;
            @include transition(transform, 200ms, ease, 10ms);
            @include transition(margin, 200ms, ease-out, 10ms);

            & g {
                fill: $dark-green-1;
            }
        }

        .product-location-icon-active {
            margin: 0 0 0 8px;
            height: 18px;
            transform: rotate(90deg);
            @include transition(transform, 200ms, ease, 10ms);
            @include transition(margin, 200ms, ease-in, 10ms);

            & g {
                fill: $white;
            }
        }
    }

    .logged-in-items {
        & li {
            @include p-body-1($white);
            @include hover-transition;
            margin-right: 16px;
    
            &:hover {
                color: $medium-gray-3;
                cursor: pointer;
            }
        }
    }
}

// Commercial Product Navigation
.commercial-nav {
    background-color: $brand-green;
    
    @media #{$grid-xs} {
        box-shadow: $dark-green-box-shadow;
    }

    .product-link {
        @media #{$grid-xxs} {
            margin: 0 0 4px 0 ;
        }
    }

    .product-link a {
        @include p-body-1($dark-green-1);
        @include hover-transition;
        line-height: 1;
        font-weight: 700;
        list-style: none;
        margin: 0 24px 0 0;
        cursor: pointer;
        text-decoration: none;
        white-space: nowrap;

        &:first-child {
            margin: 0 0 0 24px;
        }

        @media #{$grid-xxs, $grid-xs} {
            margin: 0;
            &:first-child {
                margin: 0;
            }
        }

        @media #{$grid-xxs} {
            font-size: 18px;
            line-height: 1.3;
        }

        &:hover {
            color: $white;
        }

        &:active {
            color: $white;
        }
    }

    .user-icon {
        @include user-icon-button($white, $transparent, $white);
        margin-right: 16px;

        &:hover {
            @include user-icon-button($dark-green-1, $white, $white);
        }
    }

    .mobile-product-instance {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .product-location-icon {
            cursor: pointer;
            margin: 0 0 0 12px;
            height: 18px;
            @include transition(transform, 200ms, ease, 10ms);
            @include transition(margin, 200ms, ease-out, 10ms);

            & g {
                fill: $dark-green-1;
            }
        }

        .product-location-icon-active {
            margin: 0 0 0 8px;
            height: 18px;
            transform: rotate(90deg);
            @include transition(transform, 200ms, ease, 10ms);
            @include transition(margin, 200ms, ease-in, 10ms);

            & g {
                fill: $white;
            }
        }
    }

    .logged-in-items {
        & li {
            @include p-body-1($white);
            @include hover-transition;
            margin-right: 16px;
    
            &:hover {
                color: $dark-green-1;
                cursor: pointer;
            }
        }
    }
}


// Product Selection
.product-select {
    margin: 0 auto 0 0;
    @include transition(all, 250ms, ease, 10ms);

    & .button {
        padding: 0;
    }

    & .selected a {
        color: $white;
    }

    @media #{$grid-xxs, $grid-xs} {
        order: 1;
        padding: 14px 0 0 0;
        width: 100%;
        margin: 0;
    }
}

.hide-mobile-products {
    @media #{$grid-xs} {
        display: none;
    }
}

// The Desktop Product Select List
.product-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media #{$grid-xs} {
        justify-content: space-around;
    }

    @media #{$grid-xxs} {
        flex-flow: column nowrap;
        align-items: flex-start;
    }
}

// Hamburger Menu
.hamburger {
    z-index: 999;
    cursor: pointer;
    margin: 4px 0 0 0;

    & .line {
        height: 2px;
        background-color: $white;
        border-radius: 30px;
        margin: 0 0 4px 0;
        width: 24px;
        transform-origin: center;
        @include transition(background-color, 200ms, ease, 5ms);
        @include transition(transform, 250ms, ease-out, 5ms);
    }
}

.hamburger-close {
        @include transition(all, 250ms, ease-in, 5ms);

        & .line:first-child {
            transform: rotate(45deg);
            position: fixed;
            top: 27px;
            @include transition(all, 250ms, ease-out, 5ms);
        }

        & .line:nth-child(2) {
            opacity: 0;
            @include transition(all, 250ms, ease-out, 5ms);
        }

        & .line:nth-child(3) {
            transform: rotate(-45deg);
            position: fixed;
            top: 27px;
            @include transition(all, 250ms, ease-out, 5ms);
        }
    }

.hamburger-menu {
    min-height: 110%;
    width: 0%;
    visibility: hidden;
    background-color: $translucent-dark-purple;
    z-index: 100;
    text-align: left;
    position: fixed;
    top: 0;
    right: 0;
    padding: 32px 0 80px 0;
    @include transition(all, 250ms, ease-out, 5ms);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    

    .hamburger-contents {
        visibility: hidden;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        @include transition(visibility, 50ms, ease, 0ms);

    .hamburger-shield-logo {
        margin: 0 0 24px 0;
    }

    .login-button {
        margin: 0 0 24px 0;
    }

    .new-quote-button {
        margin: 0 0 16px 0;
    }

    .logout-button {
        margin: 16px 0 0 0;
    }

    & li {
        @include p-body-1($dark-gray-1);
        cursor: pointer;
        margin: 0 0 16px;
        list-style: none;
        @include transition(opacity, 100ms, ease, 0ms);
        @include transition(color, 250ms, ease, 5ms);

        &:hover {
            color: $white;
        }
    }
  }
}

.modal-open {
    width: 25%;
    visibility: visible;
    @include transition(all, 250ms, ease-in, 5ms);

    @media #{$grid-sm} {
        width: 30%;
    }

    @media #{$grid-xs} {
        width: 40%; 
    }

    @media #{$grid-xxs} {
        width: 100%;
    }
}

.modal-open .hamburger-contents {
    visibility: visible;
    @include transition(visibility, 50ms, ease, 0ms);
}