@import '../../assets/scss-variables/compiled-variables.scss';

.footer {
    background-color: $medium-gray-1;
    padding: 56px 0 80px 0;

    .footer-links-col {
        @include flex-display;
        @include justify-content($value: center);

        @media #{$grid-sm} {
            @include justify-content($value: flex-start);
            margin: 0 0 32px 0;
        }
    }

    .footer-link-lists-container {
        @include flex-display;
        @include flex-flow($values: (row nowrap));
        @include justify-content;
        @include align-items($value: flex-start);

        @media #{$grid-xs, $grid-sm} {
            @include flex-flow($values: (row wrap));
            @include justify-content($value: center);
        }

        @media #{$grid-xxs} {
            @include flex-flow($values: (column nowrap));
            @include justify-content($value: center);
            @include align-items($value: center);
        }
    }

    .footer-link-list {
        margin: 0 0 0 80px;

        @media #{$grid-md} {
            margin: 0 0 0 56px;
        }

        @media #{$grid-sm} {
            margin: 24px;
            @include flex-basis($value: 35%);

            &:last-child {
                @include flex-basis($value: 76%);
            }
        }

        @media #{$grid-xs} {
            margin: 24px;
            @include flex-basis($value: 35%);

            &:last-child {
                @include flex-basis($value: 78%)
            }
        }

        @media #{$grid-xxs} {
            margin: 0 0 24px 0;
            text-align: center;
        }

        &:first-child {
            margin: 0;

            @media #{$grid-xs, $grid-sm} {
                margin: 24px;
            }
        }

        li {
            &:first-child {
                @include h2-body($dark-gray-2);

                &:hover {
                    color: $dark-gray-2;
                    cursor: unset;
                }
            }
        }

        li, a {

            @include p-body-1($dark-gray-2);
            list-style: none;
            margin-bottom: 16px;
            white-space: nowrap;

            &:hover {
                cursor: pointer;
                color: $dark-gray-1;
                text-decoration: none;
            }
        }
    }

    .social-media-links {
        @include flex-display;
        @include flex-flow($values: (row nowrap));
        @include justify-content($value: flex-start);
        @include align-items($value: center);

        li {
            list-style: none;
            margin-left: 16px;

            &:first-child {
                margin-left: 0;
            }
            
            a {
                width: 32px;
                height: 32px;
                border-radius: 100%;
                background-color: $medium-gray-2;
                @include flex-display;
                @include justify-content($value: center);
                @include align-items($value: center);
                @include hover-transition;

                &:hover {
                    background-color: $medium-gray-3;
                }
            }
        }
    }

    .logo-rating-container {
        @include flex-display;
        @include flex-flow($values: row nowrap);
        @include justify-content($value: center);
        @include align-items($value: center);
        margin: 40px 0 0 0;

        @media #{$grid-xs, $grid-sm} {
            margin: 0;
        }

        .shield-logo {
            max-height: 56px;
            margin: 0 16px 0 0;
        }

        .rating-badge {
            
            border-left: 1px ridge $medium-gray-2;
            padding: 0 0 0 16px;
    
            .am-best-rating {
                @include h2-hero($dark-gray-2);
                line-height: 0.9;
                margin: 0 8px 0 0;
            }
    
            .am-best-tag {
                @include p-body-1($dark-gray-1);
                font-weight: 700;
                letter-spacing: 0.5px;
                margin: 4px 0 0 0;
            }
        }
    }

    .copyright-line {
        @include p-body-2($dark-gray-1);
        margin: 24px 0 0 0;
        text-align: center;

        a {
            color: $dark-gray-1;
            text-decoration: underline;
            @include hover-transition;

            &:hover {
                color: $medium-gray-3;
                text-decoration: none;
            }
        }
    }
}